@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');


.LandingSec{
    width: 100%;
    min-height:100vh;
    position: relative;
}

.background {
    z-index: -1;
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    
}
.background video {
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.background::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.308)
}

.LandingCont{
    font-family: 'Ubuntu', sans-serif;
    color: #fff;
}
.LandingCont  h4{
    text-align: center;
    font-size: 4rem;
    margin-bottom: 15px;

}
.LandingCont  h1{
    text-align: center;
    font-size: 5rem;
    margin-bottom: 15px;
}
.contactBtn{
    width: 200px;
    height: 50px;
    background-color: #ff7c1d;
    color: #fff;
    margin: auto auto;
    display: block;
}